:root {
    --ThemeColor1: #495C83;
    --ThemeColor2: #7A86B6;
    --ThemeColor3: #A8A4CE;
    --ThemeColor4: #C8B6E2;
}

body {
    margin: 0px;
    background-color: var(--ThemeColor1);
    user-select: none;
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    background-color: transparent;
    box-shadow: inset 0vh 0vh 1vh 0.2vh var(--ThemeColor3);
}

body::-webkit-scrollbar-thumb {
    box-shadow: inset 0vh 0vh 1vh 0.2vh white;
    background-color: var(--ThemeColor4);
    border-radius: 3vh;
}

.NavBar {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    background-color: #3e4f72;
    box-shadow: 0px 3px 6vh 1vh #1f2738;
}

.AppsBarHolder {
    width: 100%;
    position: absolute;
    top: 100vh;
    left: 0px;
    height: 100vh;
    background-color: #2f3b53;
    box-shadow: inset 0px 0px 3vh 1vh #262f42;
}

.AppsBar {
    background-color: var(--ThemeColor4);
    width: 82%;
    height: 40vh;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%);
    border-radius: 3vh;
    box-shadow: 0px 0px 5px 3px var(--ThemeColor4);
    overflow: hidden;
    overflow-y: visible;
    padding: 5vh;
    padding-right: 0vh;
    font-size: 1vh;
}

.AppsBar::-webkit-scrollbar {
    background-color: transparent;

}

.AppsBar::-webkit-scrollbar-track {
    background-color: var(--ThemeColor2);
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 3vh;
    box-shadow: inset 0px 0px 5px 1px #3f485a;
}

.AppsBar::-webkit-scrollbar-thumb {
    background-color: #a390be;
    box-shadow: inset 0px 0px 5px 1px white;
    border-radius: 3vh;
}

.AppsBarItem {
    display: inline-block;
    background-color: rgb(235, 233, 233);
    height: 30vh;
    width: 25vh;
    position: relative;
    border-radius: 2vh;
    box-shadow: 0px 5px 2vh 2px gray;
    margin-right: 2vh;
    margin-bottom: 2vh;
    transition: 0.3s;
    overflow: hidden;
}

.AppsBarItem:hover {
    transform: scale(1.1);
}

.NavBarInnerTitle {
    color: white;
    font-size: 8vh;
    position: absolute;
    left: 0.5vh;
    vertical-align: middle;
    font-family: helvetica;
}

.IntroPanel {
    width: 100%;
    position: absolute;
    height: 90vh;
    top: 10vh;
    color: white;
    font-family: "verdana";
    overflow: hidden;
}

.IntroPanelInnerPanel {
    top: 15vh;
    left: 20vh;
    background-color: rgba(233, 233, 233, 0.438);
    position: absolute;
    width: 80%;
    height: 70%;
    border-radius: 2vh;
    box-shadow: 0px 5px 2vh 1px rgba(255, 255, 255, 0.562);
}

.BackgroundSquares {
    background-image: linear-gradient(to top, rgb(100, 90, 155), rgb(148, 133, 231));
    border-radius: 3vh;
    z-index: -1;
    transform: rotate(45deg);
    width: 16vh;
    height: 16vh;
    position: absolute;
    display: inline-block;
    margin: 5vh;
    box-shadow: 0px 0px 20vh 3vh rgb(50, 45, 77);
}

.UpdateNotesPanel {
    color: white;
    width: 35vh;
    margin-right: 2vh;
    top: 5%;
    bottom: 5%;
    height: 90%;
    position: absolute;
    background-color: rgba(233, 233, 233, 0.767);
    right: 0px;
    border-radius: 2vh;
    box-shadow: 0vh 0vh 2vh 1vh rgba(0, 0, 0, 0.3);
}

.UpdateNotesTable {
    overflow-x: hidden;
    overflow-y: visible;
    height: 90%;
    top: 4vh;
    position: relative;
}

.UpdateNotesTable::-webkit-scrollbar {
    background-color: transparent;
    width: 1.5vh;
}

.UpdateNotesTable::-webkit-scrollbar-thumb {
    background-color: rgb(55, 54, 61);
    border-radius: 2vh;
}

.UpdateNotes {
    border-radius: 1vh;
    width: 86%;
    left: 4%;
    right: 4%;
    height: 7vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    position: relative;
    box-shadow: 0vh 0vh 1vh 1vh rgba(173, 173, 173, 0.767);
    color: black;
    font-family: arial;
    font-weight: bold;
    font-size: 2vh;
    padding: 1vh;
    overflow: hidden;
    transition: 0.3s;
}

.UpdateNotes:hover {
    transform: scale(1.02);
}

.UpdateNotes_UrLabel {
    color: rgb(100, 100, 100);
    font-size: 2vh;
    max-lines: 2;
    word-wrap: break-word;
    width: 31vh;
    position: absolute;
    left: 1vh;
    height: 5vh;
    transition: 0.3s;
}

.UpdateNotes_UrLabel:hover {
    color: rgb(156, 156, 238);
    cursor: pointer;
}

.RecommendedVideosTable {
    position: absolute;
    color: white;
    width: 35vh;
    top: 5%;
    bottom: 5%;
    height: 90%;
    background-color: rgba(233, 233, 233, 0.767);
    border-radius: 2vh;
    box-shadow: 0vh 0vh 2vh 1vh rgba(0, 0, 0, 0.3);
    right: 40vh;
}

.RecoVideoTableItem {
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    width: 90%;
    left: 5%;
    right: 5%;
    position: relative;
    height: 15vh;
    box-shadow: 0vh 0vh 1vh 1vh rgba(173, 173, 173, 0.767);
    overflow: hidden;
    transition: 0.3s;
}

.RecoVideoTableItem_Video {
    background-color: rgb(48, 48, 48);
    width: 13vh;
    height: 13vh;
    margin: 1vh;
    position: absolute;
    border-radius: 1vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.3s;
}

.RecoVideoTableItem:hover {
    transform: scale(1.03);
}

.RecoVideoTableItem_Video:hover {
    cursor: pointer;
}

.IntroTable_MiniTitles {
    text-align: center;
    width: 100%;
    margin-top: 1vh;
    color: rgb(30, 30, 30);
    font-size: 2.5vh;
    font-family: helvetica;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
}

.RecoVideoItemTable::-webkit-scrollbar {
    background-color: transparent;
    width: 1.5vh;
}

.RecoVideoItemTable::-webkit-scrollbar-thumb {
    background-color: rgb(55, 54, 61);
    border-radius: 2vh;
}

.RecoVideoTableItem_Title {
    overflow: hidden;
    color: black;
    width: 15vh;
    height: 13vh;
    position: absolute;
    margin: 1vh;
    left: 14vh;
    font-weight: bold;
    font-family: arial;
}